/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     height: 100vh;
     background-color: var(background);
     font-family: Ubuntu, sans-serif;
}

:root {
     background: #011936;
     color: #ffffff;
}

#header,
#search{
     height: 20%;
     width: 100%;
     display: flex;
     justify-content: center;
}

#results{
     height: 60%;
     width: 100%;
     display: flex;
     justify-content: center;
}


/******************************************
/* LAYOUT
/*******************************************/

h1{
     color: var(color);
     font-family: 'Permanent Marker', cursive;
     font-size: 4.5rem;
     padding-top: 5%;
}

button,
input{
     height: 25%;
     border-radius: 15px;
     border: none;
     font-size: .7rem;
}

input{
     width: 25%;
     padding-left: 1%;
}

button{
     margin-left: 1%;
}

#search{
     padding-top: 2%;
}

#results div{
     height: 100%;
     width: 50%;
     /* border: 2px solid white; */
}

div > h1,
h2{
     font-family: Ubuntu, sans-serif;
     text-align: center;
     padding: 2%;
}

div > h1{
     padding-top: 15%;
     font-size: 2.5rem;
}

div > h2{
     font-size: 1.5rem;
}


/******************************************
/* RESPONSIVENESS
/*******************************************/


@media only screen and (max-width: 710px) {
      
     body{
          height: 100vh;
     }
     #header, h1{
          padding-top: 8%;
          font-size: 2.5rem;
     }
     #results{
          height: 50vh;
          width: 50vh;
     }
     #book-title{
          font-size: 2rem;
     }

     #search, 
     input{
          padding-left: 2%;
          margin: 0 auto;
          width: 80%;
     }
     #search{
          padding-top: 10%;
     }

}